<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #283655" *ngIf="nav.visible">
    <a class="navbar-brand" routerLink="home" style="height:60px;width:60px"><img src="https://i.ibb.co/xMWtj8d/translation-icon.png" alt="LOGO" height="50" width="50"> </a>
      <div id="navbarNavDropdown" style="position:absolute; left: 30px;top:20px">
      <ul style="list-style-type: none;">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
            Translagenix
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: 30px;" >
            <a class="dropdown-item" routerLink="LearningWords">Learning Words</a>
            <a class="dropdown-item" routerLink="SpeechToText">Speech to text</a>
            <a class="dropdown-item" (click)="signOut()">Sign out</a>
          </div>

        </li>
        
      </ul>
    </div>
    <div style="position:absolute;right : 20px;top: 30px;color:white;">
    <p *ngIf="name$ | async as name">
      Hello {{name}}
  </p>
  </div>
  </nav>
