<navbar></navbar>
<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
    <div class="mat-app-background">
      <navbar></navbar>
      <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme
      </mat-slide-toggle>
      </div>
    </div>
<router-outlet>
    <ng-container *ngIf="(isAuthenticated$ | async) === false">
        <body> 
            <h1 class="title-card"> Welcome to TranslaGenix
                <h2>Making connections through translations</h2>
            </h1> 
        <form>
        <button (click)="signIn()"> Sign in </button>
        </form>    
        </body>

        <footer>
            <h2>©️ TranslaGenix 2022</h2>
            <h3> Security </h3>
            <h3> Powered by Okta </h3>
        </footer>              
    </ng-container> 
</router-outlet>